<template name="recipePage">
	<div id="recipePage" class="page recipe-page page-animate page-animate-start" >
        <div class="recipe-picture" style="background-image: url({{picture}})">
           <!--  <img src="{{picture}}"> -->
            <div class="recipe-overlay"></div>
            <div class="text-title">
                <div class="rec-title">{{title}}</div>
                <div class="recipe-marks">
                    <div class="recipe-time"><span class="icon icon-clock"></span>{{time}}</div>
                    <div class="recipe-likes"><span class="icon icon-favorites"></span>2</div>
                </div>
            </div>
        </div>

        <div class="div-inset">
            <div class="text-label">
                {{description}}
            </div>
            <div class="text-label">
                Share
            </div>
            <div class="button-wrapper">
                <button class="btn btn-positive btn-block btn-start">
                    <span class="icon icon-bigger"><i class="ion-ios7-telephone"></i></span>Start cooking
                </button>
            </div>
            <div class="text-label">
                Ingredients
            </div>
            <div class="div-inset">
                {{#each ingredientsList}}
                    {{> ingredient}}
                {{/each}}
            </div>
            <div class="button-wrapper">
                <button class="btn btn-positive btn-block btn-add-cart">
                    <span class="icon icon-bigger"><i class="ion-ios7-telephone"></i></span>Add to shopping list
                </button>
            </div>
        </div>

	</div>
</template>