<template name="recipePage">
	<div id="recipePage" class="page recipe-page page-animate page-animate-start">
        <div class="div-inset">

            <div class="text-label">
                Title: {{title}}
            </div>
            <div class="text-label">
                Time: {{time}}
            </div>
            <div class="text-label">
                Likes: nothing
            </div>
            <div class="text-label">
            About
            </div>
            <div class="text-label">
                {{description}}
            </div>
            <div class="text-label">
                Share
            </div>
            <div class="button-wrapper">
                <button class="btn btn-positive btn-block btn-start">
                    <span class="icon icon-bigger"><i class="ion-ios7-telephone"></i></span>Start cooking
                </button>
            </div>
            <div class="text-label">
                Ingredients
            </div>
            <div class="button-wrapper">
                <button class="btn btn-positive btn-block make-not-active">
                    <span class="icon icon-bigger"><i class="ion-ios7-telephone"></i></span>Add to shopping list
                </button>
            </div>
        </div>

	</div>
</template>