<template name="recipeItem">
	<div class="recipe-item">
        <a href="{{pathFor 'recipePage'}}" class="recipe-link">
            <div class="recipe-image">
                <img src="{{picture}}">
            </div>
            <div class="recipe-title">
                <div class="recipe-name">{{title}}</div>
                <div class="recipe-marks">
                    <div class="recipe-time"><span class="icon icon-star-filled"></span>{{time}}</div>
                    <div class="recipe-likes"><span class="icon icon-star-filled"></span>{{amount}}</div>
                </div>
            </div>
            <!-- <div class="recipe-description">
                {{description}}
            </div> -->
        </a>
	</div>
</template>