<template name="authPage">
    <div id="authPage" class="page page-base auth-page">
        <div class="join-info div-inset">
            <p class="text">Бобро пожайловать!</p>
        </div>
        <form class="form-inset">
            <button class="btn btn-positive btn-block go-to-join-page">
                <span class="icon"><i class="ion-paper-airplane"></i></span>Зарегестрироваться
            </button>
            <button class="btn btn-positive btn-block signin-facebook">
                <span class="icon"><i class="ion-paper-airplane"></i></span>Facebook
            </button>
            <button class="btn btn-positive btn-block signin-twitter">
                <span class="icon"><i class="ion-paper-airplane"></i></span>Twitter
            </button>
        </form>
        <div class="signin-not-registered div-inset">
            <p class="text go-to-signin-page">
                Already have an account?
            </p>
        </div>
    </div>
</template>