// Mixins & utilities
@import '../../stylesheets/util/reset.import.less';
@import '../../stylesheets/util/lesshat.import.less';
@import '../../stylesheets/util/helpers.import.less';

.auth-page {
  .signin-info, .join-info {
    margin-bottom: 8%;
    margin-top: 8%;
  }
  .signin-not-registered {
    margin-top: 10%;
    text-align: center;
  }
}

.form-inset {
	.btn.btn-positive {
		border-radius: 5px !important;
	}
	.btn.signin-facebook {
		background-color: #3b5998;
	}
	.btn.signin-twitter {
		background-color: #55acee;
	}
}

.logo {
	width: 145px;;
	height: 145px;
	border-radius: 50%;
	margin: 15px auto 0;
	border: 1px solid @color-green;
	overflow: hidden;
}

.input-wrapper {
	margin-bottom: 8px;
	input {
		border: 1px solid @color-green !important;
		border-radius: 5px !important;
		padding-left: .75em !important;
		height: 40px !important;
	}
}




