<template name="authPage">
    <div id="authPage" class="page page-base auth-page">
        <div class="logo"><img src="icons/logo.png"></div>
        <div class="form-inset">
            <button class="btn btn-positive btn-block go-to-join-page">
                Sign up
            </button>
            <button class="btn btn-positive btn-block signin-facebook">
                Facebook
            </button>
            <button class="btn btn-positive btn-block signin-twitter">
               Twitter
            </button>
        </div>
        <div class="signin-not-registered div-inset">
            <p class="text go-to-signin-page">
                Already have an account?
            </p>
        </div>
    </div>
</template>