@import '../main/main.less';
.auth-page {
  background-color: @color-light-green !important;
  .signin-info, .join-info {
    margin-bottom: 8%;
    margin-top: 8%;
  }
  .signin-not-registered {
    margin-top: 10%;
    text-align: center;
  }
}