<template name="joinPage">
    <div id="joinPage" class="page page-base auth-page">
        <div class="join-info div-inset">

        </div>
        <form class="form-inset">
            <div class="input-wrapper">
                <input type="email" id="email" name="email" placeholder="Email" value=""/>
              
            </div>
            <div class="input-wrapper">
                <input type="text" id="password" name="password" placeholder="Password"/>
         
            </div>
            <div class="input-wrapper">
                <input type="text" id="confirm" name="confirm" placeholder="Repeat pasword"/>
  
            </div>
            <button type="submit" class="btn btn-positive btn-block join">
                Sign up
            </button>
        </form>
    </div>
</template>