<template name="signinPage">
    <div id="signinPage" class="page page-base auth-page">

        <form class="form-inset">
            <div class="input-wrapper">
                <input type="tel" id="email" name="email" placeholder="Электронный адрес" value=""/>
                <span class="icon icon-bigger"><i class="ion-ios7-email"></i></span>
            </div>
            <div class="input-wrapper">
                <input type="text" id="password" name="password" placeholder="Пароль"/>
                <span class="icon"><i class="ion-locked"></i></span>
            </div>
            <button type="submit" class="btn btn-positive btn-block signin">
                <span class="icon"><i class="ion-paper-airplane"></i></span>Войти
            </button>
        </form>
        <div class="signin-not-registered div-inset">
            <p class="text go-to-join-page">
                Еще не зарегестрированы? <br/>
                <a>Создать аккаунт</a>
            </p>
        </div>
    </div>
</template>