<template name="signinPage">
    <div id="signinPage" class="page page-base auth-page">
        <div class="logo"></div>
        <form class="form-inset">
            <div class="input-wrapper">
                <input type="email" id="email" name="email" placeholder="User Name" value=""/>
            </div>
            <div class="input-wrapper">
                <input type="text" id="password" name="password" placeholder="Password"/>
            </div>
            <button type="submit" class="btn btn-positive btn-block signin">
                Sign in
            </button>
        </form>
        <div class="signin-not-registered div-inset">
            <p class="text go-to-join-page">
                Don't have an account <br/>
                <a>Creat account</a>
            </p>
        </div>
    </div>
</template>