<template name="main">
	<div id="app" class="{{cordova}} {{platform}} {{headerTransparent}}">
        <div class="status-bar"></div>
        <header class="bar bar-nav">
            {{#if headerState.backPage}}
                <a href="{{pathFor route=headerState.backPage}}" class="btn btn-link btn-nav pull-left">
                    <span class="icon icon-back"></span>Back
                </a>
            {{/if}}
            {{#if headerState.back }}
                <a href="" class="btn btn-link btn-nav pull-left">
                    <span class="icon icon-back"></span>Back
                </a>
            {{/if}}
            <h1 class="title">{{headerState.text}}</h1>
            {{#if headerState.settings }}
                <a href="" class="btn btn-link btn-nav pull-right">
                    <span class="icon header-icon-settings"><i class="ion-gear-a"></i></span>
                </a>
            {{/if}}
        </header>
        <div class="content-overlay"></div>
        <div id="content">
            {{> yield}}
        </div>
        <nav class="bar bar-tab">
            <a class='tab-item {{activePageBoard}}' href="{{pathFor 'categories'}}">
                <span class="icon icon-categories"></span>
                <span class="tab-label"></span>
            </a>
            <a class="tab-item {{activePageStatistics}}" href="{{pathFor 'categories'}}">
                <span class="icon"><i class="icon-favorites"></i></span>
                <span class="tab-label"></span>
            </a>
            {{#if currentUser }}
                <a class="tab-item {{activePageProfile}}" href="{{pathFor 'categories'}}">
                    <span class="icon icon-person"></span>
                    <span class="tab-label"></span>
                </a>
                <a class="tab-item {{activePageMyOrders}}" href="{{pathFor 'categories'}}">
                    <span class="icon"><i class="ion-bag"></i></span>
                    <span class="tab-label"></span>
                </a>
            {{else}}
                <a class="tab-item {{activePageSignin}}" href="{{pathFor 'categories'}}">
                    <span class="icon icon-shopping_list"></span>
                    <span class="tab-label"></span>
                </a>
            {{/if}}
            <a class='tab-item {{activePageNewOrder}}' href="{{pathFor 'categories'}}">
                <span class="icon icon-more"></span>
                <span class="tab-label"></span>
            </a>
        </nav>
	</div>
</template>