<template name="newOrderPage">
	<div id="newOrderPage" class="page page-base new-order-page">
        {{#if currentUser }}
            <form class="form-inset new-order-inset">
                <div class="segmented-row">
                    <div class="segmented-control filter-type">
                        <a class="control-item active" data-id="buy">Куплю</a>
                        <a id="type-sell" class="control-item" data-id="sell">Продам</a>
                    </div>
                </div>
                <div class="segmented-row">
                    <div class="segmented-control filter-currency">
                        <a class="control-item active" data-id="usd">USD</a>
                        <a class="control-item" data-id="eur">EUR</a>
                        <a class="control-item" data-id="rur">RUR</a>
                        <a class="control-item" data-id="gbp">GBP</a>
                        <a class="control-item" data-id="chf">CHF</a>
                    </div>
                </div>
                <div class="input-wrapper">
                    <input type="number" step="0.01" min="0" id="rate" name="rate" pattern="[0-9]*" autocomplete="off" placeholder="Курс" />
                    <span class="icon"><i class="ion-ios7-calculator"></i></span>
                </div>
                <div class="input-wrapper">
                    <input type="text" step="1" min="0" id="amount" name="amount" pattern="[0-9]*" autocomplete="off" placeholder="Сумма"/>
                    <span class="icon"><i class="ion-ios7-speedometer"></i></span>
                </div>
                <div class="input-wrapper">
                    <input type="text" id="city" name="city" placeholder="Город" value="{{city}}"/>
                    <span class="icon icon-bigger"><i class="ion-location"></i></span>
                </div>
                <div class="input-wrapper toggle-wrapper">
                    <span class="icon"><i class="ion-ios7-navigate"></i></span>
                    <label>Подъеду</label>
                    <div class="toggle new-order-drive">
                        <div class="toggle-handle"></div>
                    </div>
                </div>
                <div class="input-wrapper toggle-wrapper">
                    <span class="icon"><i class="ion-ios7-briefcase"></i></span>
                    <label>Банк/ПОВ</label>
                    <div class="toggle new-order-bank">
                        <div class="toggle-handle"></div>
                    </div>
                </div>
                <div class="input-wrapper comment-wrapper">
                    <textarea id="comment" name="comment" placeholder="Комментарий"></textarea>
                    <span class="icon"><i class="ion-chatbubble"></i></span>
                </div>
                <button type="submit" class="btn btn-positive btn-block">
                    <span class="icon"><i class="ion-paper-airplane"></i></span>Создать
                </button>
            </form>
        {{else}}
            <div class="div-inset not-registered-inset">
                <p class="text">Для создания заявок вам необходимо войти в систему или зарегестрироваться
                </p>
            </div>
            <div class="form-inset not-registered-inset">
                <button class="btn btn-positive btn-block go-to-signin">
                    <span class="icon"><i class="ion-paper-airplane"></i></span>Вход
                </button>
                <button class="btn btn-positive btn-block go-to-join">
                    <span class="icon"><i class="ion-paper-airplane"></i></span>Регистрация
                </button>
            </div>
        {{/if}}
	</div>
</template>