<template name="orderPage">
	<div id="orderPage" class="page order-page page-animate page-animate-start">
        <div class="form-inset div-inset">
            {{#if isOwner}}
                <div class="text-label">
                    <span class="icon icon-bigger"><i class="ion-person"></i></span>
                    <label class="text-name">Ваша заявка</label>
                </div>
            {{else}}
                <div class="text-label link-label">
                    <span class="icon icon-bigger"><i class="ion-ios7-telephone"></i></span>
                    <label class="text-name">{{name}}</label>
                    <label class="text-value">{{phone}}</label>
                </div>
            {{/if}}
            <div class="text-label">
                <span class="icon"><i class="ion-ios7-pricetag"></i></span>
                <label class="text-name">{{type}}</label>
                <label class="text-value text-currency">{{currency}}</label>
            </div>
            <div class="text-label">
                <span class="icon"><i class="ion-ios7-calculator"></i></span>
                <label class="text-name">Курс</label>
                <label class="text-value">{{rate}}</label>
            </div>
            <div class="text-label">
                <span class="icon"><i class="ion-ios7-speedometer"></i></span>
                <label class="text-name">Сумма</label>
                <label class="text-value">{{amount}}</label>
            </div>
            <div class="text-label">
                <span class="icon icon-bigger"><i class="ion-location"></i></span>
                <label class="text-name">Город</label>
                <label class="text-value">{{city}}</label>
            </div>
            {{#if showDrive}}
                <div class="text-label">
                    <span class="icon"><i class="ion-ios7-navigate"></i></span>
                    <label class="text-name text-grey">Подъеду</label>
                </div>
            {{/if}}
            {{#if showBank}}
                <div class="text-label">
                    <span class="icon"><i class="ion-ios7-briefcase"></i></span>
                    <label class="text-name text-grey">Банк/ПОВ</label>
                </div>
            {{/if}}
            <div class="input-wrapper comment-wrapper">
                <textarea id="comment" name="comment" placeholder="Комментарий" readonly>{{comment}}</textarea>
                <span class="icon"><i class="ion-chatbubble"></i></span>
            </div>
            {{#if isOwner}}
                <div class="button-wrapper">
                    <button class="btn btn-positive btn-block change">
                        <span class="icon icon-bigger"><i class="ion-edit"></i></span>Изменить
                    </button>
                    <button class="btn btn-positive btn-block make-not-active float-right">
                        <span class="icon icon-bigger"><i class="ion-trash-b"></i></span>Не активная
                    </button>
                </div>
            {{else}}
                <div class="button-wrapper">
                    <button class="btn btn-positive btn-block make-not-active">
                        <span class="icon icon-bigger"><i class="ion-ios7-telephone"></i></span>Позвонить
                    </button>
                    <button class="btn btn-positive btn-block make-not-active float-right">
                        <span class="icon icon-bigger"><i class="ion-ios7-chatboxes"></i></span>Чат
                    </button>
                </div>
            {{/if}}
        </div>

	</div>
</template>

<!--<button class="delete-order">Delete</button>-->
<!--<button class="mark-private">
    {{#if private}}
    Make public
    {{else}}
    Make private
    {{/if}}
</button>
<span class="line {{#if checked}}checked{{/if}}">
                {{type}} | {{rate}} | {{amount}} | {{phone}} | >> {{username}}
            </span>
-->