<template name="stepPage">
	<div id="stepPage" class="page step-page page-animate page-animate-start">
        <div class="slider" id="mySlider">
            <div class="slide-group">
                {{#each stepsList}}
                    {{> stepSlide}}
                {{/each}}
            </div>
        </div>
        <div class="timerPopup" style="display: none">
            <h1>TIMER WORK!!!!!!!!</h1>
            <button class="btn btn-positive btn-block btn-end-timer">Ok</button>
        </div>
	</div>
</template>