<template name="stepPage">
	<div id="stepPage" class="page step-page page-animate page-animate-start">
        <div class="slider" id="mySlider">
            <div class="slide-group">
                <div class="slide">
                    <div class="step-picture">
                        <img src="/category/vanilla.jpg">
                    </div>
                    <span class="slide-text">
                    <span class="icon icon-left-nav"></span>
                        Slide me
                    </span>
                </div>
                <div class="slide">
                    <img src="/category/vanilla.jpg">
                </div>
                <div class="slide">
                    <img src="/category/vanilla.jpg">
                </div>
            </div>
        </div>

	</div>
</template>