<template name="stepSlide">
    <div class="slide">
        <div class="step-picture">
            <img src="{{picture}}">
            <div class="recipe-overlay"></div>
        </div>
        <div class="step-container">
            <div class="step-title">
                {{title}}
            </div>
            <div class="step-instruction">
                {{description}}
            </div>
            {{#if time}}
                <div class="step-time">
                    {{time}}
                </div>
            {{/if}}
            {{#if timerTime}}
                <div class="step-time">
                    <button class="btn btn-positive btn-block make-not-active">
                        Start timer
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
</template>