<template name="stepSlide">
    <div class="slide">
        <div class="step-picture">
            <img src="{{picture}}">
            <div class="recipe-overlay"></div>
            <div class="bar bar-nav">
                <a href="" class="btn btn-link btn-nav pull-left">
                    <span class="icon icon-back"></span>Back
                </a>
            </div>
        </div>
        <div class="step-container">
            <div class="step-title">
                {{title}}
            </div>
            <div class="step-instruction">
                {{description}}
            </div>
            {{#if time}}
                <div class="step-time">
                    <span class="icon icon-clock"></span>
                    {{time}}
                </div>
            {{/if}}
            {{#if timerTime}}
                <div class="step-time">
                    <button class="btn btn-positive btn-block btn-start-timer">
                        Start timer
                    </button>
                </div>
            {{/if}}
        </div>
    </div>
</template>