@color-green: #5bb7b6;
@color-dark-green: #6DA896;
@color-light-green: #E6F7F1;
@color-white: #ffffff;
@color-black: #000000;
@color-accent: #F4E57C;
@color-light-grey: #f7f7f7;
@color-grey: #999999;
@color-dark-grey: #555555;

@color-bar-icons: #cad0d4;
@grey-lines: #e5ebef;

.position(@type; @top: auto; @right: auto; @bottom: auto; @left: auto; @width: auto; @height: auto) {
	position: @type;
	top: @top;
	right: @right;
	bottom: @bottom;
	left: @left;
	width: @width;
	height: @height;
}
// Caps styling used in headers
.title-caps() {
	letter-spacing: .3em;
	text-indent: .3em;
	text-transform: uppercase;
}

// Adds an ellipses at the end of overflowing strings
.ellipsized() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.force-wrap {
	word-wrap: break-word;
	word-break: break-all;
	-ms-word-break: break-all;
	word-break: break-word; // Non-standard for webkit
	.hyphens(auto);
}

.box-sizing (@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.clearfix{
  zoom:1;
  &:before, &:after {
    content:"";
    display:table;
  }
  &:after {
    clear: both;
  }
}

.vertical-align {
  position: relative;
  top: 50%;
  .transform (translateY(-50%));
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}