<template name="board">
	<div class="board">
        <nav class="bar bar-standard bar-filters">
            <div class="segmented-control filter-type">
                <a class="control-item {{typeBuyActive}}" data-id="buy">Buy</a>
                <a class="control-item {{typeSellActive}}" data-id="sell">Sell</a>
            </div>
            <div class="segmented-control filter-currency">
                <a class="control-item active" data-id="usd">USD</a>
                <a class="control-item" data-id="eur">EUR</a>
                <a class="control-item" data-id="all">ALL</a>
            </div>
        </nav>
        <div class="page page-base">
            <div class="board-status">
                {{#if currentUser }}
                <label>Город: </label><label class="status-city">{{activeCity}}</label>
                {{/if}}
                <label>Активно заявок: {{activeCount}}</label>
            </div>
            <div class="board-orders">
                {{#each orders}}
                {{> order}}
                {{/each}}
            </div>
        </div>
	</div>
</template>