<template name="profilePage">
    <div id="profilePage" class="page page-base profile-page">
        {{#if currentUser }}
            <form class="form-inset">
                <div class="input-wrapper">
                    <input type="text" id="name" name="name" placeholder="Имя" value="{{name}}"/>
                    <span class="icon icon-bigger"><i class="ion-person"></i></span>
                </div>
            </form>
            <div class="div-inset div-logout">
                <p class="text-logout">
                    <a>Logout</a>
                </p>
            </div>
        {{/if}}
    </div>
</template>